apiVersion: v1
kind: Service
metadata:
  name: vets-service
  namespace: petclinic
  labels:
    app: vets-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
  selector:
    app: vets-service

