apiVersion: v1
kind: Service
metadata:
  name: genai-service
  namespace: petclinic
  labels:
    app: genai-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8084
    targetPort: 8084
    protocol: TCP
    name: http
  selector:
    app: genai-service

