apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: petclinic
  labels:
    app: config-server
    tier: infrastructure
spec:
  type: ClusterIP
  ports:
  - port: 8888
    targetPort: 8888
    protocol: TCP
    name: http
  selector:
    app: config-server
<<<<<<< HEAD

=======
>>>>>>> 6352f2a3100c0f5bc96b561c900b7d04c5b97780
