apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: petclinic
  labels:
    app: config-server
    tier: infrastructure
spec:
  type: ClusterIP
  ports:
  - port: 8888
    targetPort: 8888
    protocol: TCP
    name: http
  selector:
    app: config-server
